<div class="row">
  <div class="col-xl-12">
    <img [src]="recipe.imagePath" alt="{{}recipe.name}" class="rounded recipedetail">
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class=" row">
    <div class="col-xl-12">
      <!-- <div class="dropdown" appDropdown>
            <button type="button"
            class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Manage Recipe <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" appDropdown>
            <li class="dropdown-item"><a href="#">To Shopping List</a></li>
            <li class="dropdown-item"><a href="#">Edit Recipe</a></li>
            <li class="dropdown-item"><a href="#">Delete Recipe</a></li>
        </ul>
        </div> -->
        <div ngbDropdown class="d-inline-block"  #myDrop="ngbDropdown">
            <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Manage Recipe</button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button ngbDropdownItem (click)="onAddToShopping()" style="cursor: pointer;">To Shopping List</button>
              <button ngbDropdownItem>Edit Recipe</button>
              <button ngbDropdownItem>Delete Recipe</button>
            </div>
          </div>


    </div>

  </div>
  <div class="row">
    <div class="col-xl-12">
      {{recipe.description}}
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
     <ul class="list-group">
       <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
         {{ingredient.name}} - {{ingredient.amount}}
       </li>
     </ul>
    </div>
  </div>
